In [1]:
import pandas as pd
import numpy as np

In [9]:
df_pred = pd.read_csv('data/predictions.csv', parse_dates=['Date'], index_col=[0])

In [10]:
df_pred.head()

        Date  SecuritiesCode  ad_Close_lower     ad_Close  ad_Close_upper
0 2021-10-29            8194     3716.482629  3917.386392     4137.267958
1 2021-11-01            8194     3719.641270  3918.054996     4109.371609
2 2021-11-02            8194     3716.207322  3921.021628     4139.602109
3 2021-11-04            8194     3704.645003  3913.186364     4115.612713
4 2021-11-05            8194     3692.498777  3893.665503     4099.727826

In [12]:
df_pred.sort_values('Date')

         Date  SecuritiesCode  ad_Close_lower     ad_Close  ad_Close_upper
0  2021-10-29            8194     3716.482629  3917.386392     4137.267958
0  2021-10-29            9830     2739.078301  2840.659781     2942.993127
0  2021-10-29            6832     2290.928966  2441.229989     2587.744370
0  2021-10-29            9831      421.772225   441.469750      463.531669
0  2021-10-29            6824     1918.856048  1990.620640     2061.442140
..        ...             ...             ...          ...             ...
23 2021-12-03            7570     2169.990969  2285.611698     2415.077677
23 2021-12-03            9046      335.980602   344.753246      353.838959
23 2021-12-03            3139     4757.206513  5205.965218     5616.031467
23 2021-12-03            4997      520.960014   548.701441      579.934043
23 2021-12-03            8185      581.817127   655.137244      728.125250

[47880 rows x 5 columns]

In [13]:
df_pred.groupby('Date').count()

            SecuritiesCode  ad_Close_lower  ad_Close  ad_Close_upper
Date
2021-10-29            1995            1995      1995            1995
2021-11-01            1995            1995      1995            1995
2021-11-02            1995            1995      1995            1995
2021-11-04            1995            1995      1995            1995
2021-11-05            1995            1995      1995            1995
2021-11-08            1995            1995      1995            1995
2021-11-09            1995            1995      1995            1995
2021-11-10            1995            1995      1995            1995
2021-11-11            1995            1995      1995            1995
2021-11-12            1995            1995      1995            1995
2021-11-15            1995            1995      1995            1995
2021-11-16            1995            1995      1995            1995
2021-11-17            1995            1995      1995            1995
2021-11-18            1995            1995      1995            1995
2021-11-19            1995            1995      1995            1995
2021-11-22            1995            1995      1995            1995
2021-11-24            1995            1995      1995            1995
2021-11-25            1995            1995      1995            1995
2021-11-26            1995            1995      1995            1995
2021-11-29            1995            1995      1995            1995
2021-11-30            1995            1995      1995            1995
2021-12-01            1995            1995      1995            1995
2021-12-02            1995            1995      1995            1995
2021-12-03            1995            1995      1995            1995

In [4]:
df_pred.shape

(47880, 5)

In [5]:
data = pd.read_csv('data/curr_price_financial_fill.csv', parse_dates=['Date'], index_col=[0])
data.dropna(inplace=True)

In [6]:
data.shape

(2157434, 63)

In [122]:
#df_pred = df_pred.query('Model == "linear"').reset_index()

In [11]:

col = ['Date', 'ad_Close', 'SecuritiesCode', 'Predicted']

In [14]:
data['Predicted'] = False
df_main = data[col]
df_main = df_main.query('Date < "2021-10-29"').reset_index().drop('index',axis=1)

df_pred['Predicted'] = True
df_pred = df_pred[col]
df_pred = df_pred.sort_values('Date').reset_index().drop('index',axis=1)

In [15]:
df_main.sort_values('Date')

              Date  ad_Close  SecuritiesCode  Predicted
139920  2017-02-07    1534.0            8804      False
139921  2017-02-08    1566.0            8804      False
139922  2017-02-09    1558.0            8804      False
139923  2017-02-10    1622.0            8804      False
139924  2017-02-13    1620.0            8804      False
...            ...       ...             ...        ...
197688  2021-10-28    3520.0            9042      False
1809022 2021-10-28    1128.0            7205      False
1245587 2021-10-28    2652.0            4848      False
1239033 2021-10-28     844.0            4826      False
2113433 2021-10-28     758.0            8185      False

[2113434 rows x 4 columns]

In [16]:
df_main.shape

(2113434, 4)

In [17]:
df_pred.shape

(47880, 4)

In [33]:
df_pred.to_csv('data/pred_tableau.csv')
df_main.to_csv('data/main_tableau.csv')

In [18]:
df_merged = pd.concat([df_main, df_pred])

In [19]:
df_merged =  df_merged.reset_index().drop('index', axis=1)

In [20]:
df_main.head()

        Date  ad_Close  SecuritiesCode  Predicted
0 2017-04-12    2932.0            8194      False
1 2017-04-13    2834.0            8194      False
2 2017-04-14    2882.0            8194      False
3 2017-04-17    2954.0            8194      False
4 2017-04-18    2965.0            8194      False

In [21]:
df_merged.sort_values('Date')

              Date      ad_Close  SecuritiesCode  Predicted
139920  2017-02-07   1534.000000            8804      False
139921  2017-02-08   1566.000000            8804      False
139922  2017-02-09   1558.000000            8804      False
139923  2017-02-10   1622.000000            8804      False
139924  2017-02-13   1620.000000            8804      False
...            ...           ...             ...        ...
2159976 2021-12-03   5364.670897            2491       True
2159975 2021-12-03    210.834948            7102       True
2159974 2021-12-03   2859.280187            6050       True
2159987 2021-12-03  25562.172705            6030       True
2161313 2021-12-03    655.137244            8185       True

[2161314 rows x 4 columns]

In [22]:
df_merged.query('Predicted == True').groupby('SecuritiesCode').mean()

                   ad_Close  Predicted
SecuritiesCode
1301            3106.294608        1.0
1332             692.184887        1.0
1333            2835.146125        1.0
1375            1546.017409        1.0
1376            1532.548990        1.0
...                     ...        ...
9990             554.656419        1.0
9991             886.154275        1.0
9993            1708.827519        1.0
9994            2540.397238        1.0
9997             810.024434        1.0

[1995 rows x 2 columns]

In [23]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2161314 entries, 0 to 2161313
Data columns (total 4 columns):
 #   Column          Dtype
---  ------          -----
 0   Date            datetime64[ns]
 1   ad_Close        float64
 2   SecuritiesCode  int64
 3   Predicted       bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1)
memory usage: 51.5 MB

In [24]:
# calculate target / rank:
def target_calculations(data: pd.DataFrame, periods: int = 1, shift: int = 2, dropna: bool = False) -> pd.DataFrame:
    #data['Date'] = data.index
    #data = data.reset_index('Date')
    td = pd.pivot_table(data, index='Date', columns='SecuritiesCode', values='ad_Close', dropna=dropna)
    td = td.pct_change(periods)

    #calculated_target = pd.melt(td.shift(shift), ignore_index=False, value_name='Target').reset_index().sort_values(['Date','SecuritiesCode']).dropna(subset=['Target']).reset_index(drop=True)
    #calculated_target = pd.melt(td.shift(-shift), ignore_index=False, value_name=f'Target_{shift}').reset_index().sort_values(['Date','SecuritiesCode']).reset_index(drop=True)
    calculated_target = pd.melt(td.shift(-shift), ignore_index=False, value_name=f'Target').reset_index().sort_values(['Date','SecuritiesCode']).reset_index(drop=True)
    cols = ['ad_Close', 'SecuritiesCode','Date']
    calculated_target = pd.merge(left=calculated_target ,right=data[cols],  on=['SecuritiesCode','Date'])
    #print(f'Calculated_target shape: {calculated_target.shape}') #(2324404, 3)
    #calculated_target.set_index('Date')
    return calculated_target

In [25]:
def add_rank(df, col_name="Target"):
    #df = df.reset_index('Date')
    df["Rank"] = df.groupby("Date")[col_name].rank(ascending=False, method="first") - 1 
    #df["Rank"] = df["Rank"].astype("int")#df
    df.set_index('Date')
    return df

In [26]:
df_start = df_merged

In [27]:

days = [3,10,15,24]

for i in days:
    df_curr = target_calculations(df_start, shift=  i)
    df_merged[f'Target_{i}'] = df_curr['Target']


df_merged.head()

,Date,ad_Close,SecuritiesCode,Predicted,Target_3,Target_10,Target_15,Target_24
0,2017-04-12,2932.0,8194,False,0.041078,0.025173,0.001896,-0.001939
1,2017-04-13,2834.0,8194,False,-0.001233,0.002455,0.008833,0.002591
2,2017-04-14,2882.0,8194,False,-0.007407,-0.009186,0.011257,-0.004522
3,2017-04-17,2954.0,8194,False,0.008706,-0.011743,-0.024737,0.001947
4,2017-04-18,2965.0,8194,False,-0.009248,-0.010632,-0.006341,-0.012306

In [28]:
df_merged.tail(6500)

,Date,ad_Close,SecuritiesCode,Predicted,Target_3,Target_10,Target_15,Target_24
2154814,2021-11-30,5790.980291,4612,True,0.003838,NaN,NaN,NaN
2154815,2021-11-30,2081.926598,4204,True,0.000647,NaN,NaN,NaN
2154816,2021-11-30,1111.909743,6143,True,0.002179,NaN,NaN,NaN
2154817,2021-11-30,4791.037102,8043,True,0.001616,NaN,NaN,NaN
2154818,2021-11-30,2751.864826,9621,True,-0.001711,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2161309,2021-12-03,2285.611698,7570,True,NaN,NaN,NaN,NaN
2161310,2021-12-03,344.753246,9046,True,NaN,NaN,NaN,NaN
2161311,2021-12-03,5205.965218,3139,True,NaN,NaN,NaN,NaN
2161312,2021-12-03,548.701441,4997,True,NaN,NaN,NaN,NaN
2161313,2021-12-03,655.137244,8185,True,NaN,NaN,NaN,NaN

In [29]:
df_merged.shape

(2161314, 8)

In [30]:
df_merged.isna().sum()

Date                  0
ad_Close              0
SecuritiesCode        0
Predicted             0
Target_3           5985
Target_10         19950
Target_15         29925
Target_24         47880
dtype: int64

In [32]:
df_merged.to_csv('data/merged.csv')

In [31]:
df_merged.query('Target_24 < 0')

,Date,ad_Close,SecuritiesCode,Predicted,Target_3,Target_10,Target_15,Target_24
0,2017-04-12,2932.0,8194,False,0.041078,0.025173,0.001896,-0.001939
2,2017-04-14,2882.0,8194,False,-0.007407,-0.009186,0.011257,-0.004522
4,2017-04-18,2965.0,8194,False,-0.009248,-0.010632,-0.006341,-0.012306
5,2017-04-19,2981.0,8194,False,-0.015557,0.001896,-0.005105,-0.003279
6,2017-04-20,2932.0,8194,False,0.004425,0.008833,-0.006414,-0.029605
...,...,...,...,...,...,...,...,...
2113426,2021-10-19,767.0,8185,False,-0.005787,-0.000015,-0.001830,-0.000442
2113428,2021-10-21,765.0,8185,False,0.001492,0.004336,0.004826,-0.002383
2113430,2021-10-25,764.0,8185,False,0.000366,0.003220,0.005031,-0.000302
2113431,2021-10-26,769.0,8185,False,0.001643,-0.001221,-0.000011,-0.000694
2113433,2021-10-28,758.0,8185,False,0.002793,-0.000345,0.002423,-0.003226

In [34]:
clean_df = pd.DataFrame()
pred_days = [3,10,15,24]
ind = [0]

for i in df_merged.SecuritiesCode.unique():
    liste = []
    liste.append(i)
    for p in pred_days:
        query = df_merged.query('SecuritiesCode == @i')#.reset_index()
        query = query.sort_values('Date')
        start = query.ad_Close.to_list()[-(p+1)]
        end = query.ad_Close.to_list()[-1]
        performance = (end - start) / start
        liste.append(performance)

    dic = pd.DataFrame({'SecuritiesCode': liste[0], 'Performance_3': liste[1], 'Performance_10': liste[2], 'Performance_15': liste[3], 'Performance_24': liste[4]} , index=ind)
    
    clean_df = pd.concat([clean_df, dic])
    ind[0] += 1
    #clean_df.append(dic, ignore_index = True)

In [35]:
clean_df.head()

,SecuritiesCode,Performance_3,Performance_10,Performance_15,Performance_24
0,8194,0.008181,0.018842,0.029853,0.066538
1,8198,-0.004150,-0.012759,-0.018661,-0.044270
2,8200,0.005320,0.004058,-0.000378,0.038065
3,8202,0.038366,0.058949,0.065765,0.079360
4,8203,-0.003895,-0.017461,-0.030532,-0.031944

In [36]:
clean_df.to_csv('data/performance.csv')